.logo-img {
	width:30px;
	height:30px;
}

/*BUTTON*/
.wc-action-btn {
	border-radius:5px;
	transition:0.3s ease-in-out;
}
.wc-generate-btn {
	border:2px solid #f6f7d4;
	color:#f6f7d4;
}
.wc-generate-btn:hover {
	background:#f6f7d4;
	border:2px solid #f6f7d4;
	color:#28df99;
}
.wc-jc-btn {
	/*jc-btn = join create button*/
	border:2px solid #28df99;
	background:#28df99;
	color:#f6ecf0;
}
.wc-jc-btn:hover {
	background:#28df9999;
	border-color:#28df9950;
}	
.input-group-btn > .btn-success:hover {
	cursor:not-allowed;
}