body {
	margin:0;
	padding:0;
}

::selection {
	background:#0f4c75;
	color:#fdcb9e;
}


/*COLOR SCHEME*/
.main-theme-bg {
	background:#28df99;
}
.main-theme-color {
	color:#28df99;
}
.light-green-bg {
	background:#99f3bd;
}
.light-green-color {
	color:#99f3bd;
}
.lighter-green-bg {
	background:#d2f6c5;
}
.lighter-green-color {
	color:#d2f6c5;
}
.light-yellow-bg {
	background:#f6f7d4;
}
.light-yellow-color {
	color:#f6f7d4;
}
.lighter-yellow-bg {
	background:#f6ecf0;
}
.lighter-yellow-color {
	color:#f6ecf0;
}

/*PADDING SCHEME*/
.wider-padding {
	padding:2% 1%;
}
.smaller-padding {
	padding:0.5% 1%;
}

/*CENTRING ELEMENT*/
.centre-xy {
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.centre-x {
	left:50%;
	transform:translateX(-50%);
}
.centre-y {
	top:50%;
	transform:translateY(-50%);
}

/*WIDTH*/
.w-70 {
	width:70%;
}


/*FONT FAMILY*/
.font-space-grotesk {
	font-family: 'Space Grotesk', sans-serif;
}
.font-nova-flat {
	font-family: 'Nova Flat', cursive;
}
.font-sans-pro {
	font-family: 'Source Sans Pro', sans-serif;
}
.font-nanum-gothic {
	font-family: 'Nanum Gothic', sans-serif;
}
.font-serif{
	font-family: 'DM Serif Text', serif;
}

/*BUTTON*/
.wc-btn {
	background:none;
	border:none;
	letter-spacing:2px;
	font-weight:bolder;
}
.wc-btn:focus {
	outline:none;
}



/*
#28df99
#99f3bd
#d2f6c5
#f6f7d4
*/


/*

font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nova Flat', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Space Grotesk', sans-serif;

*/
